@import '../../styles/mixins';

.content {
  background-color: var(--bg-2);
  padding: 2rem;
  border-radius: 12px;
  @include smallDeviceSize {
    padding: 1.5rem;
  }
}

.content__wrapper {
  background-color: var(--bg-2);
  padding: 2rem;
  border-radius: 12px;

  @include smallDeviceSize {
    padding: 1.5rem;
  }
}
